<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Decidim</title>
    <link href="/stylesheets/site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>
  <body>
    <header class="header">
  <div class="container">
    <div class="logo">
      <a href="/"><img src="/images/decidim-logo.svg" alt="Decidim" width="120" /></a>
    </div>
    <nav class="main-nav">
	<div class="lang-wrapper">
		<a href="#lang" class="lang-trigger">EN</a>
		<ul id="lang" class="lang" role="menu">
			<li role="menuitem">
				<a href="/">English</a>
			</li>
			<li role="menuitem">
				<a href="/es">Castellano</a>
			</li>
			<li role="menuitem">
				<a href="/ca">Català</a>
			</li>
		</ul>
	</div>
	<div class="main-nav__links" id="nav-links">
		<a href="/demo" class="main-nav__item">Demo</a>
	  <a href="/community" class="main-nav__item">Community</a>
	  <a href="/contract"class="main-nav__item">Social Contract</a>
		<a href="https://github.com/AjuntamentdeBarcelona/decidim" target="_blank" class="main-nav__item">
	    Code
	  </a>
	</div>
		<a class="main-nav__trigger" href="#nav-links">
			<span class="nav-icon"></span>
			<span class="visually-hidden">Navigation</span>
		</a>
</nav>

  </div>
  <a class="cityhall-logo" href="https://ajuntament.barcelona.cat/">
    <img alt="decidim.barcelona" src="/images/logo_header_barcelona.png">
  </a>
</header>

    <main class="main">
      <header class="header">
  <div class="container">
    <div class="logo">
      <a href="/"><img src="/images/decidim-logo.svg" alt="Decidim" width="120" /></a>
    </div>
    <nav class="main-nav">
	<div class="lang-wrapper">
		<a href="#lang" class="lang-trigger">EN</a>
		<ul id="lang" class="lang" role="menu">
			<li role="menuitem">
				<a href="/">English</a>
			</li>
			<li role="menuitem">
				<a href="/es">Castellano</a>
			</li>
			<li role="menuitem">
				<a href="/ca">Català</a>
			</li>
		</ul>
	</div>
	<div class="main-nav__links" id="nav-links">
		<a href="/demo" class="main-nav__item">Demo</a>
	  <a href="/community" class="main-nav__item">Community</a>
	  <a href="/contract"class="main-nav__item">Social Contract</a>
		<a href="https://github.com/AjuntamentdeBarcelona/decidim" target="_blank" class="main-nav__item">
	    Code
	  </a>
	</div>
		<a class="main-nav__trigger" href="#nav-links">
			<span class="nav-icon"></span>
			<span class="visually-hidden">Navigation</span>
		</a>
</nav>

  </div>
  <a class="cityhall-logo" href="https://ajuntament.barcelona.cat/">
    <img alt="decidim.barcelona" src="/images/logo_header_barcelona.png">
  </a>
</header>

    </main>
    <footer class="main-footer">
  <div class="container">
    <div class="main-footer__item">
      <small>&copy; 2017 - Creative Commons By-SA</small>
    </div>
    <div class="main-footer__item">
      <small>
        <a href="/credits">Attibution and credits</a>
      </small>
      <a href="mailto:hola@decidim.org">hola@decidim.org</a>
    </div>

    <img src="/images/logo_footer_barcelona.png"  class="main-footer__logo" alt="Ajuntament de Barcelona" />
  </div>
</footer>

    <script src="/javascripts/nav-toggle.js" async="async"></script>
    <script src="/javascripts/closest-polyfill.js" async="async"></script>
    <script src="/javascripts/lang-toggle.js" async="async"></script>
		<script src="/javascripts/image-switch.js" async="async"></script>
  </body>
</html>
