<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Decidim</title>
    <link href="/stylesheets/site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>
  <body>
    <header class="header">
  <div class="container">
    <div class="logo">
      <a href="/"><img src="/images/decidim-logo.svg" alt="Decidim" width="120" /></a>
    </div>
    <nav class="main-nav">
	<div class="lang-wrapper">
		<a href="#lang" class="lang-trigger">EN</a>
		<ul id="lang" class="lang" role="menu">
			<li role="menuitem">
				<a href="/">English</a>
			</li>
			<li role="menuitem">
				<a href="/es">Castellano</a>
			</li>
			<li role="menuitem">
				<a href="/ca">Català</a>
			</li>
		</ul>
	</div>
	<div class="main-nav__links" id="nav-links">
		<a href="/demo" class="main-nav__item">Demo</a>
	  <a href="/community" class="main-nav__item">Community</a>
	  <a href="/contract"class="main-nav__item">Social Contract</a>
		<a href="https://github.com/AjuntamentdeBarcelona/decidim" target="_blank" class="main-nav__item">
	    Code
	  </a>
	</div>
		<a class="main-nav__trigger" href="#nav-links">
			<span class="nav-icon"></span>
			<span class="visually-hidden">Navigation</span>
		</a>
</nav>

  </div>
  <a class="cityhall-logo" href="https://ajuntament.barcelona.cat/">
    <img alt="decidim.barcelona" src="/images/logo_header_barcelona.png">
  </a>
</header>

    <main class="main">
      <section class="logos-section logos-section--partners">
  <h2 class="logos-section__title">Promoter</h2>
  <div class="container logos-container">
    <a href="http://www.barcelona.cat" target="_blank" class="logo-item highlighted">
      <img src="/images/partners/logo_partner_ajbcn.jpg" alt="Ajuntament de Barcelona" />
    </a>
  </div>
  <h2 class="logos-section__title">Cooperating entities</h2>
  <div class="container logos-container">
    <a href="http://www.localret.cat/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_localret.png" alt="Localret" />
    </a>
    <a href="http://tecnopolitica.net/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_tecnopolitica.png" alt="Tecnopolitica" />
    </a>
    <a href="http://www.uoc.edu/portal/ca/in3/index.html" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_in3.png" alt="Internet Interdisciplinary Institute - IN3" />
    </a>
    <a href="https://alabs.org/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_alabs.png" alt="aLabs" />
    </a>
    <a href="https://www.codegram.com/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_codegram.png" alt="Codegram" />
    </a>
    <a href="https://eurecat.org/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_eurecat.png" alt="Eurecat" />
    </a>
    <a href="https://www.upf.edu/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_upf.png" alt="UPF" />
    </a>
    <a href="http://www.i2cat.net/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_i2cat.jpg" alt="i2cat" />
    </a>
    <a href="https://marsbased.com/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_marsbased.png" alt="Marsbased" />
    </a>
    <a href="http://populate.tools/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_populate-tools.png" alt="Populate Tools" />
    </a>
    <a href="http://swwweet.com/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_swwweet.svg" alt="Swwweet" />
    </a>
    <a href="http://www.ferrerguardia.org/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_ffg.png" alt="Fundació Ferrer i Guardia" />
    </a>

  </div>
</section>

    </main>
    <footer class="main-footer">
  <div class="container">
    <div class="main-footer__item">
      <small>&copy; 2017 - Creative Commons By-SA</small>
    </div>
    <div class="main-footer__item">
      <small>
        <a href="/credits">Attibution and credits</a>
      </small>
      <a href="mailto:hola@decidim.org">hola@decidim.org</a>
    </div>

    <img src="/images/logo_footer_barcelona.png"  class="main-footer__logo" alt="Ajuntament de Barcelona" />
  </div>
</footer>

    <script src="/javascripts/nav-toggle.js" async="async"></script>
    <script src="/javascripts/closest-polyfill.js" async="async"></script>
    <script src="/javascripts/lang-toggle.js" async="async"></script>
		<script src="/javascripts/image-switch.js" async="async"></script>
  </body>
</html>
